.container p{
    color: white;
    text-align: center;
}
.container h2{
    text-align: center;
}
.test{
    width: 100%;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
@media  screen and (max-width:640px){
    .card{
        margin: 10px 0 10px 0;
        display: inline-block;
    }
}